body {
    margin: 0px;
    background-color: rgb(40, 38, 39);
}
    
header {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}
    
header img {
    border-radius: 50%;
    width: 150px;
    height:150px;
    padding: 20px;
    object-fit: cover;
    animation: float 3s ease-in-out infinite;
    justify-content: center;
}
    
.perfil {
    flex-direction: column;
    padding: -5px;
}
    
header h1 {
    padding-top: 5px;
}
    
nav ul {
    list-style: none;
    padding: 0;
}
    
nav ul li {
    display: inline;
    margin: 0 10px;
}
    
nav ul li a {
    color: #fff;
    text-decoration: none;
}
    
main{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
button {
    width: 100px;
    border-radius: 7px;
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: #110e0e77 ;
    box-shadow: 0 0 10px #464343d4;
    margin: 10px;

}
    
p {    
    display: none;
    background-color: rgb(62, 60, 61);
    border-radius: 7px;
    padding: 25px;
}

article {
    background-color: rgb(40, 38, 39);
    margin: 20px;
    padding: 20px;
    padding-top: 20px;
    max-width: 100%;
    display: flex;
}.formaText {
    flex-direction: row;
}

.ht {
    width: 80px;
    height: auto;
}

.cs {
    width: 120px;
    height: auto;
}

.javas {
    width: 70px;
    height: auto;
}

.comentario {
    background-color: rgb(62, 60, 61);
    display: block;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

.projects {
    background-color: white;
}

.section-title {
    color: white;
    align-items: center;
}
.section-content {
    background-color: rgb(62, 60, 61);
    display: 'none';
    border-radius: 7px;
}

.projects-list {
    background-color: yellow;
}
footer {
    text-align: center;
    background: #080808;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}
    
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translate(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
    
@media (max-width: 720px) {
body {
margin: 0px;
background-color: rgb(40, 38, 39);
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
}

header img {
    border-radius: 50%;
    width: 150px;
    height:150px;
    padding: 20px;
    object-fit: cover;
    animation: float 3s ease-in-out infinite;
    justify-content: left;
}

.perfil {
    flex-direction: column;
    padding: -5px;
}

header h1 {
    padding-top: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main{
    margin: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 100px;
    border-radius: 7px;
    margin: 42px;
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: #110e0e77 ;
    box-shadow: 0 0 10px #464343d4;
}

.me {
    margin-top: 110px;
}

p {    
    display: none;
    color: white;
    background-color: rgb(62, 60, 61);
    border-radius: 7px;
    padding: 25px;
}

article {
    background-color: rgb(40, 38, 39);
    margin: 20px;
    padding: 20px;
    padding-top: 20px;
    max-width: 100%;
    display: flex;
}

.formaText {
    flex-direction: row;
}

.ht {
    width: 80px;
    height: auto;
}

.cs {
    width: 120px;
    height: auto;
}

.javas {
    width: 70px;
    height: auto;
}

.projects {
    background-color: white;
    display: 'none';
}

.section-title {
    color: white;
    align-items: center;
}
.section-content {
    background-color: rgb(62, 60, 61);
    border-radius: 7px;
}

.projects-list {
    background-color: yellow;
}

.comentario {
    background-color: rgb(62, 60, 61);
    display: block;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

footer {
    text-align: center;
    background: #080808;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translate(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

}